@model MMSQ.Models.clsGame

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>clsGame</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GenreID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GenreID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Game_GameTitle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Game_GameTitle)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Game_AgeRestriction)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Game_AgeRestriction)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Game_Multiplayer)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Game_Multiplayer)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Game_Platform)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Game_Platform)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Game_ReleaseDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Game_ReleaseDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Game_Score)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Game_Score)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.GameID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
